* {
    margin     : 0;
    padding    : 0;
    font-family: Helvetica;
}

.nav {
    height  : 35px;
    width   : 100vw;
    position: fixed;
    top     : 0;
    left    : 0;
    width   : 100vw;
}

a {
    /* a标签去掉下划线 */
    text-decoration: none;

    /* 将字体颜色设为黑色 */
    color: #000;
}

main {
    margin-top: 35px;
}

p {
    text-indent: 2em;
}