.ybc{
    display: inline-block;
    width: auto;
    background: transparent;
    border: 1px solid #557FFF;
    border-radius: 50px;
    color: #557FFF;
    padding: 5px;
    margin: 5px;margin-left: 10px;
    transition: all .5s ease-in-out;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
}
.ybc:hover{
    background: #557FFF;
    color: #fff;
    transform: translate(-3px, -3px);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .25);
}